@font-face {
	font-family: 'LuckiestGuy';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/LuckiestGuy-Regular.ttf') format('truetype');
  }

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('img/3. Background/Dark/2.png');
	background-size: cover;
	backdrop-filter: blur(5px);
    height: 100vh;
	font-family: 'LuckiestGuy', sans-serif;
	font-size: 2rem;
	color: white;
}

h1 {
	margin: 0 0 24px 0;
}

canvas {
	display: block;
	background-color: black;
	border-radius: 25px;
	box-shadow: 0px 0px 15px white;
}

.startScreen {
	background-image: url('img/3. Background/Mesa de trabajo 1.png');
	background-size: contain;
    border-radius: 25px;
	position: absolute;
	top: 22%;
	height: 487px;
    width: 720px;
}

.startButton {
	position: absolute;
	right: 40px;
	bottom: 40px;
	width: 180px;
}

@media screen and (max-width: 720px) {
	canvas {
		width: 100%;
	}
}

@media screen and (max-height: 480px) {
	h1 {
		display: none;
	}
	canvas {
		height: 100vh;
	}
}