@font-face {
	font-family: 'LuckiestGuy';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

h3 {
	margin: 0;
	font-size: 1.9rem;
}
.flex {
	display: flex;
}
.d-none {
	display: none;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('img/3. Background/Dark/2.png');
	background-size: cover;
	backdrop-filter: blur(5px);
    height: 100vh;
	font-family: 'LuckiestGuy', sans-serif;
	font-size: 2rem;
	color: white;
}
h1 {
	margin: 0 0 24px 0;
}
.canvas-container {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
	display: block;
	background-color: black;
	border-radius: 25px;
	box-shadow: 0px 0px 15px white;
}
.startScreen,
.gameoverScreen,
.youwinScreen {
	background-repeat: no-repeat;
	background-size: cover;
    border-radius: 25px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
    width: 100%;
}
.startScreen {
	background-image: url('img/3. Background/Mesa de trabajo 1.png');
}
.gameoverScreen {
	background-image: url('img/3. Background/Dark/2.png');
	display: none;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 5;
}
.gameoverScreen img:first-child {
	width: 62%;
}
.gameoverScreen img:last-child {
	width: 30%;
	padding-top: 32px;
	cursor: pointer;
}
.youwinScreen {
	background-image: url('img/3. Background/Dark/2.png');
	z-index: 5;
	display: none;
}
.youwinScreen img:first-child {
	width: 100%;
	height: 100%;
	border-radius: 25px;
}
.youwinScreen img:last-child {
	position: absolute;
    bottom: 20%;
    left: 0;
	right: 0;
    width: 30%;
    margin: 0 auto;
	cursor: pointer;
}
#turnDevice {
	position: absolute;
    background-color: #000000;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.startButton {
	position: absolute;
	right: 40px;
	bottom: 40px;
	width: 180px;
	z-index: 4;
	cursor: pointer;
}
.overlay {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	justify-content: center;
}
.instructions {
	display: none;
	z-index: 5;
	justify-content: flex-start;
	background-color: rgb(0 139 139 / 95%);
	border-radius: 25px;
}
.instructions .tips,
.instructions .sources {
	width: 80%;
	margin: 0 auto;
}
.instructions .titles {
	width: 100%;
    justify-content: space-around;
	justify-content: center;
    gap: 40px;
	margin: 48px 0;
	cursor: pointer;
}
.instructions .controls {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}
.instructions .controls > * {
	gap: 80px;
    justify-content: center;
    align-items: center;
}
.instructions .move img {
	height: 100px;
}
.instructions .shoot-bubble img {
	height: 50px;
}
.instructions .meele-attack img {
	height: 40px;
}
.menu {
	z-index: 6;
	gap: 8px;
	width: 64px;
	left: auto;
    right: 0;
}
.menu > * {
	padding-right: 16px;
	cursor: pointer;
}
.menu #mute-audio {
	display: none;
}
.menu img:hover {
	box-shadow: 2px 0px 7px white;
}
.touchbars {
	position: absolute;
    bottom: 0;
    left: 0;
	display: none;
}
.touchbars > * {
	width: 60px;
	height: 60px;
}
.touchbars #btnLeft {
	margin-top: 70px;
}
.touchbars #btnUp {
	margin-bottom: 70px;
	margin-left: 10px;
}
.touchbars #btnDown {
	margin-top: 70px;
    margin-left: -60px;
}
.touchbars #btnRight {
	margin-top: 70px;
	margin-left: 10px;
}
.touchbars #btnD,
.touchbars #btnSpace {
	margin-left: 10px;
    margin-top: 70px;
}

@media screen and (max-width: 610px) and (orientation: portrait) {
	#turnDevice {
		display: flex;
	}
}

@media screen and (max-width: 720px) {
	canvas {
		width: 100%;
	}
}

@media screen and (max-height: 480px) {
	h1 {
		display: none;
	}
	canvas {
		height: 100vh;
	}
}